<div class="text-align-center" id="banner"> Productos </div>

<div id="photos" class="container">
    <div class="row">
        <div *ngFor="let img of images" class="col-xl-3 col-md-4 col-sm-6 col-6">

            <figure class="figure">
                <div class="thumbnail-custom"> 
                    <img src={{img.imgLink}} alt="...">
                </div>
                <figcaption class="figure-caption">{{img.caption}}</figcaption>
            </figure>
        </div>
    </div>
</div>