<div class="text-align-center" id="banner"> Productos </div>

<div id="photos" class="container">
    <div class="row">
        <div *ngFor="let img of images" class="col-3">

            <figure class="figure">
                <img src="http://via.placeholder.com/360x600" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Jaime is a sock</figcaption>
              </figure>

            <!-- <img src="http://via.placeholder.com/360x600" alt=""> -->
        </div>
    </div>
</div>