#footer {
    width: 100%;
    /* background-color: #87edd9; */
    background-color: lightgray;
    height: 3rem;
    text-align: center;
    padding-top: 0.75rem;
    color: #4c4c4d;
    position: absolute;
    bottom: 0;
}

.fa-instagram {
    float: left;
    margin-left: 1rem;
    font-size: 1.7rem;
    margin-top: -2px;
}

a {
    text-decoration: none;
    color: inherit;
}

