
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a [routerLink]="['/']" class="navbar-brand" href="#"><img id="logo" src="../../assets/Logo/logoclearbackground.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/about']" class="nav-link vLine">Bio</a>
              </li>
              <li class="nav-item">
              <a [routerLink]="['/collection']" class="nav-link">Colección</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/illustrations']" class="nav-link">Ilustraciones</a>
              </li>
              
              <li class="nav-item">
                <a [routerLink]="['/products']" class="nav-link">Productos</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/contact']" class="nav-link">Contacto</a>
              </li>
          </ul>
        </div>
      </nav>
