body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: var(--navbar-height);
    min-height: 100vh;
}




html{
    position: relative;
}


/* CSS Variables */
:root {
    --navbar-height: 65px;
}