/* #banner {
    height: 158px;
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 1rem;
} */

#title-background {
    background-image: url("../../assets/Coleccion/4_final_smaller.jpg");
    /* background-size: contain;
    background-repeat: no-repeat; */
    background-size: cover;
    height: 950px;
    margin-bottom: 100px;
}

img {
    width: 100%;
    margin-bottom: 2rem;
}

.col-6 {
    padding-right: 0;
    padding-left: 0;
}

#title {
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 600px;
    color: ivory;
    font-size: 2rem;
}

#photos {
    padding-left: 4rem;
    padding-right: 4rem;
}

