<div id="title-background">
    <div id="title">
        <p id="p1"> aminah </p>
        <p id="p2"> primavera <span> | </span> verano 2020 </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 align-center">
            <img src="../../assets/Coleccion/lila_5.jpg" alt="">
            <img src="../../assets/Coleccion/lila_4.jpg" alt="">
            <img src="../../assets/Coleccion/lila_2.jpg" alt="">
            <img src="../../assets/Coleccion/flores_1.jpg" alt="">
            <img src="../../assets/Coleccion/flores_2.jpg" alt="">
            <img src="../../assets/Coleccion/blanco_azul_1.jpg" alt="">
            <img src="../../assets/Coleccion/azul_4_vertical.jpg" alt="">
            <img src="../../assets/Coleccion/azul_5.jpg" alt="">
        </div>
        <div class="col-6" style="margin-top: 37%;">
            <img src="../../assets/Coleccion/lila_6.jpg" alt="">
            <img src="../../assets/Coleccion/lila_1.jpg" alt="">
            <img src="../../assets/Coleccion/flores_3.jpg" alt="">
            <img src="../../assets/Coleccion/flores_4.jpg" alt="">
            <img src="../../assets/Coleccion/blanco_azul_3.jpg" alt="">
            <img src="../../assets/Coleccion/blanco_azul_2.jpg" alt="">
            <img src="../../assets/Coleccion/azul_1.jpg" alt="">
            
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            
        </div>
        <div class="col-6">

        </div>
    </div>

</div>
