.navbar {
    background-color: white;
}

#logo {
    max-width: 80px;
}

.vLine {
    border-left: 2px solid rgb(180, 180, 170);
}

.nav-link {
    margin-right: 15px;
}

button {
    border: none;
}

