<div class="text-align-center" id="banner"> contacto </div>

<section class="container">
    <div class="row">
        <div class="col-lg-7">
            <div id="contact-info">
                <p class="contact-title"> teléfono :</p>
                <p class="contact-content"> +551008 9670</p>
                <p class="contact-title"> email :</p>
                <p class="contact-content"> elisa.pafra@gmail.com</p>
                <p class="contact-title"> conéctate :</p>
                <p class="contact-content"> <a target="_blank" href="https://www.google.com">@by___elisa</a></p>
            </div>
            <div id="form">
                <form>
                    <div class="input-group">
                        <input id="nombre"type="text" class="form-control" placeholder="Nombre" />
                        <input type="text" class="form-control" placeholder="Teléfono" />
                    </div>
                    <div id="email" class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <textarea class="form-control" width="100%" rows="5" placeholder="Mensaje"></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-lg-5">
            <img class="img-fluid" src="../../assets/Contact/contactPhoto.jpeg" alt="">
        </div>
    </div>
</section>